@model int

<div class="container pt-4 text-center">
    <h2 class="text-primary text-center">Order placed successfully</h2>
    <p>Your order number: @Model</p>
    <br />
    Your order has been placed successfully! <br />
</div> 