@model int

Shopping cart
<span class="position-relative">
	<i class="bi bi-cart"></i>
	<span class="position-absolute top-0 ms-1 translate-middle badge rounded-pill text-bg-danger">@Model</span>
</span>